<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- LINK BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- LINK CSS -->
    <link rel="stylesheet" href="./assets/css/style.css">
    <!-- LINK FONTAWSOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>

    <!-- DIV VUE -->
    <div id="app">
        <div id="background" class="vh-100 d-flex align-items-center justify-content-center">
            <div id="window" class="d-flex bg-light">

                <!-- PARTE A SINISTRA DELLA LISTA -->
                <div id="parte-sinistra">
                    <div id="zona-alta">
                        <!-- PARTE ALTA -->
                        <div id="user" class="d-flex justify-content-between align-items-center">
                            <div>
                                <img src="./assets/img/avatar_io.jpg" alt="">
                                <span>Sofia</span>
                            </div>
                            <div>
                                <i class="fa-solid fa-circle-notch" style="color: #c0c0c0;"></i>
                                <i class="fa-solid fa-message" style="color: #c0c0c0;"></i>
                                <i class="fa-solid fa-ellipsis-vertical" style="color: #c0c0c0;"></i>
                            </div>
                        </div>
                        <!-- PARTE SEGNALETICA -->
                        <div id="signal" class="d-flex align-items-center">
                            <i class="fa-solid fa-bell-slash p-2 bg-light rounded-circle" style="color: #00c7fc;"></i>
                            <div class="mx-3">
                                <p>Gestisci notifiche di nuovi messaggi</p>
                                <p class="text-decoration-underline">Attiva notifiche desktop</p>
                            </div>
                        </div>
                        <!-- RICERCA -->
                        <div class="text-center">
                            <input v-model="search" type="text" placeholder="Cerca o inizia una nuova chat" @keyup="oggettiFiltrati()">
                        </div> 
                    </div>
                    <!-- LISTA CHAT -->
                    <div id="chat-list">
                        <div id="person" class="d-flex" v-for="(element,index) in contacts" :key="index" @click="chatSelection(index)" :class="element.visible==false ? 'd-none':''">
                            <div>
                                <img :src="element.avatar" alt="">
                            </div>
                            <div>
                                <p>{{element.name}}</p>
                                <p>{{lastMessage(index)}}</p>
                            </div>
                            <div>
                                <!-- ORARIO -->
                                <p>{{divisionDate(index)}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PARTE A DESTRA DELLA CHAT -->
                <div id="parte-destra">
                    <!-- PARTE UTENTE CHAT -->
                    <div id="user-chat" class="d-flex justify-content-between align-items-center">
                        <div>
                            <img :src="contacts[indexActive].avatar" :alt="contacts[indexActive].name">
                            <span>{{contacts[indexActive].name}}</span>
                        </div>
                        <div>
                            <i class="fa-solid fa-magnifying-glass" style="color: #c0c0c0;"></i>
                            <i class="fa-solid fa-paperclip" style="color: #c0c0c0;"></i>
                            <i class="fa-solid fa-ellipsis-vertical" style="color: #c0c0c0;"></i>
                        </div>
                    </div>
                    <!-- CHAT -->
                    <div id="chat" class="d-flex flex-column">
                        <div :class="element.status=='sent' ? 'sent':'received'" v-for="(element,index) in contacts[indexActive].messages" :key="index">
                            <p>{{element.message}}</p>
                            <!-- <span>{{element.date}}</span> -->
                        </div>
                    </div>
                    <!-- INPUT MESSAGGIO -->
                    <div id="input-mex" class="d-flex justify-content-between align-items-center px-3">
                        <i class="fa-regular fa-face-smile" style="color: #606060;"></i>
                        <input v-model="inputMessage" type="text" placeholder="Scrivi un messaggio" @keyup.enter="newMessage()">
                        <i class="fa-solid fa-microphone" style="color: #606060;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- LINK AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- LINK BOOTSTRAP JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <!-- LINK VUE -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- LINK JS -->
    <script src="./assets/js/main.js"></script>
</body>
</html>
