#background{
    background: rgb(49,212,140);
    background: linear-gradient(rgba(7,150,137,1) 0%, rgba(7,150,137,1) 25%, rgba(217,219,213,1) 25%, rgba(217,219,213,1) 100%);   
}

#window{
    height: 90%;
    width: 75%;

}

#parte-sinistra{
    width: 30%;
    height: 100%;
    border: 1px solid red;
}

#parte-destra{
    width: 70%;
    height: 100%;
    border: 1px solid red;
}

#parte-sinistra>div, #parte-destra div{
    border: 1px solid blue;
}

#zona-alta{
    height: 30%;
}

#zona-alta div{
    height: calc(100%/3);
    border: 1px solid black;
}

#chat-list{
    height: 70%;
}

#chat-list p{
    font-size: 0.7rem;
    opacity: 0.6;
}

img{
    width: 3rem;
    border-radius: 100%;
}