/* GENERALE */
#background{
    background: rgb(49,212,140);
    background: linear-gradient(rgba(7,150,137,1) 0%, rgba(7,150,137,1) 25%, rgba(217,219,213,1) 25%, rgba(217,219,213,1) 100%);   
}

#window{
    height: 90%;
    width: 75%;

}

/* PARTE SINISTRA LISTA CHAT */
#parte-sinistra{
    width: 30%;
    height: 100%;
}

#zona-alta{
    height: 30%;
}

#zona-alta div{
    margin-bottom: 0.3rem;
}

#zona-alta input{
    margin-top: 10px;
}

input{
    width: 85%;
}

#user i, #user-chat i{
    margin-right: 0.7rem;
}

#user, .selected{
    background-color: rgb(234, 234, 234);
}

#signal{
    background-color: #00c7fc;
    padding: 10px;
    margin-top: 10px;
}

#signal p{
    font-size: 0.7rem;
    margin: 0 auto;
}

#chat-list{
    height: 70%;
    overflow: scroll;
}

#chat-list p{
    font-size: 0.7rem;
    opacity: 0.6;
}

#person:hover{
    background-color: rgb(234, 234, 234);
}

img{
    width: 2.5rem;
    border-radius: 100%;
    margin-right: 0.7rem;
}

/* PARTE DESTRA CHAT SINGOLA */
#parte-destra{
    width: 70%;
    height: 100%;
    border-left: 0.5px solid grey;
}

#user-chat{
    padding-bottom: 0.3rem;
    background-color: rgb(234, 234, 234);
    height: 7%;
}

#chat{
    height: 86%;
    background-image: url('../img/mine.jpg');
    padding: 1rem;
}

#input-mex{
    background-color: rgb(234, 234, 234);
    height: 7%;
}

.sent{
    background-color: rgb(215, 248, 189);
    align-self: flex-end;
}

.received{
    background-color: white;
    align-self: flex-start;
}

.sent, .received{
    padding: 8px;
    border-radius: 15px;
    margin-bottom: 0.7rem;
}

.sent p, .received p{
    margin: 0;
}

#orario-mex{
    opacity: 0.6;
    font-size: 0.7rem;
    margin-left: 0.7rem;
}